sqldf
twitteR
httpuv
MASS
logging
RSQLite
httr
stringi
dplyr
data.table
ggplot2
devtools
igraph
png
raster
glmnet
pls
zoo
TSA
forecast
gstat
akima
spatstat
deldir
lattice
geoR
sp
boot
caret
e1071
ROCR
tm
SnowballC
wordcloud
RTextTools
topicmodels
slam
RKEA
